.edit-task-form {
  display: flex;
  flex-direction: row;
}

.add-task {
  background-color: #dcdcdc;
  border: 1px solid rgba(175, 47, 47, 0.1);
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  font-weight: inherit;
  line-height: 1.4em;
  margin: 3px;
  padding: 6px;
  white-space: nowrap;
}
